<style>
    .table-striped tbody tr:hover {
        cursor:pointer;
    }
</style>
<table ng-controller="EmployeeListController" class="table table-alternative">
    <tr>
        <td>
            <table class="table table-striped">
                <thead>
                    <tr class="table-inverse">
                        <th>EmpNo</th>
                        <th>EmpName</th>
                        <th>Salary</th>
                        <th>DeptName</th>
                        <th>Designation</th>
                    </tr>
                </thead>
                <tbody >
                    <tr scope="row" ng-click="get(Emp)" ng-repeat="Emp in Employees">
                        <td> <span>{{Emp.EmpNo}}</span></td>
                        <td> <span>{{Emp.EmpName}}</span></td>
                        <td> <span>{{Emp.Salary}}</span></td>
                        <td> <span>{{Emp.DeptName}}</span></td>
                        <td> <span>{{Emp.Designation}}</span></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
    </tr>
</table>